.main-content {
  background-color: var(--bgSoft);
  padding:50px;
  border-radius: 10px;
  margin-top: 20px;
}

/* Dashboard */
.container {
  display: flex;
}

.menu {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 20px;
  min-height: 100vh;
}

.content {
  flex: 4;
  padding: 20px;
}

.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.side {
  flex: 1;
}

/* Navbar */
.navbar {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2e374a;
  padding: 10px;
  border-radius: 10px;
}

.navbar-input {
  background-color: transparent;
  border: none;
  color: var(--text);
}

.navbar-icons {
  display: flex;
  gap: 20px;
}

/* Sidebar */
.sidebar {
  position: sticky;
  top: 40px;
}

.sidebar-user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.sidebar-userImage {
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-userDetail {
  display: flex;
  flex-direction: column;
}

.sidebar-username {
  font-weight: 500;
}

.sidebar-userTitle {
  font-size: 12px;
  color: var(--textSoft);
}

.sidebar-list {
  list-style: none;
}

.sidebar-cat {
  color: var(--textSoft);
  font-weight: bold;
  font-size: 12px;
  margin: 10px 0px;
}

.sidebar-logout {
  padding: 20px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  background: none;
  border: none;
  color: white;
  width: 100%;
}

.sidebar-logout:hover {
  background-color: #2e374a;
}

.sidebar-link {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  border-radius: 10px;
}

.sidebar-link:hover,
.active {
  background-color: #2e374a;
}

/* Rightbar */
.rightbar {
  position: fixed;
}

.rightbar-item {
  background: linear-gradient(to top, #182237, #253352);
  padding: 20px 24px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
}

.rightbar-bgContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
}

.rightbar-bg {
  object-fit: contain;
  opacity: 0.2;
}

.rightbar-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rightbar-notification {
  font-weight: bold;
}

.rightbar-subtitle {
  color: var(--textSoft);
  font-weight: 500;
  font-size: 12px;
}

.rightbar-desc {
  color: var(--textSoft);
  font-size: 14px;
}

.rightbar-button {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  background-color: #5d57c9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}